header.page-header
  nav
    ul.router-list
      li.nav-item 
        a(href='/') 主页
      li.nav-item 
        a(href='/archives/') 归档
      li.nav-item 
        a(href='/atom.xml') RSS
    .mode-switch
      span.iconfont.icon-DarkTheme
  if is_home() || is_archive() || is_tag()
    ul.social-list
      each social in theme.socialList
        li.social-item
          //- 悬浮图片公众号二维码/qq群二维码/个人微信号二维码  
          if social.name == 'gongzhonghao' || social.name == 'qq' || social.name == 'weixin'
            span(class=['iconfont', `icon-${social.name}`])
            img.qrcode(src=social.url) 
          else
            a(href=social.url)
              span(class=['iconfont', `icon-${social.name}`])

  // 添加JavaScript
  script.
    document.querySelectorAll('.social-item').forEach(item => {
      // 点击事件
      item.addEventListener('click', function(event) {
        event.stopPropagation(); // 阻止事件冒泡到document
        // 关闭所有其他的二维码
        document.querySelectorAll('.social-item .qrcode').forEach(qr => {
          if (qr !== this.querySelector('.qrcode')) {
            qr.style.display = 'none';
          }
        });
        // 切换当前点击的二维码的显示状态
        const qrCode = this.querySelector('.qrcode');
        qrCode.style.display = qrCode.style.display === 'block' ? 'none' : 'block';
      });

      // 悬停事件 - 仅在非触摸设备上生效
      if (window.matchMedia('(hover: hover) and (pointer: fine)').matches) {
        item.addEventListener('mouseenter', function() {
          this.querySelector('.qrcode').style.display = 'block';
        });
        item.addEventListener('mouseleave', function() {
          this.querySelector('.qrcode').style.display = 'none';
        });
      }
    });

    // 监听整个文档的点击事件，用于点击空白处关闭二维码
    document.addEventListener('click', () => {
      document.querySelectorAll('.social-item .qrcode').forEach(qr => {
        qr.style.display = 'none';
      });
    });

